@(currentDatabaseConnection: Environment.ConnectionName)(implicit errorMessages: List[ErrorMessage] = List.empty, currentUser: Option[ApplicationUser])

@main(Some("Aliases"), Some(currentDatabaseConnection)) {

   <h3>Aliases</h3>

   <ul>

      <li>
         <h4><a href="@routes.AliasController.catchAll(currentDatabaseConnection)">Catch alls</a></h4>
      </li>
      <li>
         <h4><a href="@routes.AliasController.common(currentDatabaseConnection)">Common alias matrix</a></h4>
      </li>
      <li>
         <h4><a href="@routes.AliasController.crossDomain(currentDatabaseConnection)">Cross domain alias</a></h4>
      </li>
      <li>
         <h4><a href="@routes.AliasController.orphan(currentDatabaseConnection)">Orphans</a></h4>
      </li>
      <li>
         <h4><a href="@routes.DomainController.domain(currentDatabaseConnection)">Alias per domain</a></h4>
      </li>
   </ul>

}
