@(currentDatabaseConnection: Environment.ConnectionName, domain: Domain, alias: Alias, relays: Option[(Option[Relay],Option[Relay])], databaseAliases: List[(Environment.ConnectionName,Option[Alias])])(implicit errorMessages: List[ErrorMessage] = List.empty, currentUser: Option[ApplicationUser], featureToggles: FeatureToggleMap)

@import helper._

@relayRow(relay: Relay) = {
   <tr>
      <td @if(!relay.enabled){class="disabled"}>
         <a href="@routes.RelayController.viewAliasRelay(currentDatabaseConnection,domain.name,alias.mail,relay.recipient)">@relay.recipient</a>
      </td>
      <td @if(!relay.enabled){class="disabled"}>@relay.status</td>
      <td>@relay.enabled</td>
      <td class="actions">
         @if(featureToggles.isEnabled("toggle")){
            @if(relay.enabled){
               @form(action=routes.RelayController.disableAliasRelay(currentDatabaseConnection,domain.name,alias.mail,relay.recipient,"aliasdetails"), 'class -> "form-inline", 'role -> "form"){
                  <button type"submit" title="disable" class="btn btn-xs btn-warning">d</button>
               }
            } else {
               @form(action=routes.RelayController.enableAliasRelay(currentDatabaseConnection,domain.name,alias.mail,relay.recipient,"aliasdetails"), 'class -> "form-inline", 'role -> "form"){
                  <button type"submit" title="enable" class="btn btn-xs btn-success">e</button>
               }
            }
         }
      </td>
   </tr>
}

@addCatchallRow() = {
   <tr>
      <td colspan="3">&nbsp;</td>
      <td class="actions">
         @if(featureToggles.isEnabled("add")){
            @form(action=routes.RelayController.addAliasRelay(currentDatabaseConnection,domain.name,alias.mail), 'class -> "form-inline", 'role -> "form"){
               <input type="hidden" name="recipient" value="@@@domain.name"/>
               <input type="hidden" name="status" value="OK"/>
               <button type="submit" title="add" class="btn btn-sm col-sm-7 col-xs-7 btn-primary">add catchall relay</button>
            }
         }
      </td>
   </tr>
}

@addRelayRow() = {
   <tr>
      <td colspan="3">&nbsp;</td>
      <td class="actions">
         @if(featureToggles.isEnabled("add")){
            @form(action=routes.RelayController.addAliasRelay(currentDatabaseConnection,domain.name,alias.mail), 'class -> "form-inline", 'role -> "form"){
               <input type="hidden" name="recipient" value="@alias.mail"/>
               <input type="hidden" name="status" value="OK"/>
               <button type="submit" title="add" class="btn btn-sm col-sm-7 col-xs-7 btn-primary">add alias relay</button>
            }
         }
      </td>
   </tr>
}

@main(Some("Alias"), Some(currentDatabaseConnection)) {

   <h3><a href="@routes.AliasController.alias(currentDatabaseConnection)">Alias boo</a></h3>

   @form(action=routes.AliasController.updateAlias(currentDatabaseConnection,domain.name,alias.mail), 'class -> "form-inline", 'role -> "form"){
      <table class="table">
         <tbody>
            <tr>
               <th>mail</th>
               <td colspan="2">@alias.mail</td>
            </tr>
            <tr>
               <th>destination</th>
               <td colspan="2">
                  @if(featureToggles.isEnabled("edit")){
                     <input type="text" name="destination" class="form-control" value="@alias.destination" placeholder="another@@example.org"/>
                  } else {
                     @alias.destination
                  }
               </td>
            </tr>
            <tr>
               <th>enabled</th>
               <td colspan="2">@alias.enabled</td>
            </tr>
            <tr>
               <th>domain</th>
               <td colspan="2" @if(!domain.enabled){class="disabled"}><a href="@routes.DomainController.viewDomain(currentDatabaseConnection,domain.name)">@domain.name</a></td>
            </tr>
         </tbody>
      </table>

      @if(featureToggles.isEnabled("edit")){
         <section>
            <button type="submit" title="update" class="btn btn-sm col-sm-2 col-xs-2 btn-success">update alias</button>
         </section>
      }
   }

   @if(featureToggles.isEnabled("toggle")){
      <section>
         @if(alias.enabled){
            @form(action=routes.AliasController.disable(currentDatabaseConnection,domain.name,alias.mail, "aliasdetails"), 'class -> "form-inline", 'role -> "form"){
               <button type"submit" title="disable" class="btn btn-sm col-sm-2 col-xs-2 btn-warning">disable alias</button>
            }
         } else {
            @form(action=routes.AliasController.enable(currentDatabaseConnection,domain.name,alias.mail,"aliasdetails"), 'class -> "form-inline", 'role -> "form"){
            <button type"submit" title="enable" class="btn btn-sm col-sm-2 col-xs-2 btn-success">enable alias</button>
            }
         }
      </section>
   }

   @if(featureToggles.isEnabled("remove") && !alias.enabled){
      <section>
         @form(action=routes.AliasController.remove(currentDatabaseConnection,domain.name,alias.mail,"aliasdetails"), 'class -> "form-inline", 'role -> "form"){
            <button type="submit" title="remove" class="btn btn-sm col-sm-2 col-xs-2 btn-danger">remove alias</button>
         }
      </section>
   }

   @for(relaysFound <- relays){

       <section>

         <h4>Relay maps</h4>

         <table class="table table-hover">
            <thead>
               <tr>
                  <th>recipient</th>
                  <th>status</th>
                  <th>enabled</th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               @relaysFound match {
                  case (None,None) => {
                     @addCatchallRow()
                     @addRelayRow()
                  }
                  case (None,Some(relay)) => {
                     @relayRow(relay)
                     @if(!relay.enabled && !relay.isCatchAll){
                        @addCatchallRow()
                     }
                  }
                  case (Some(catchall),None) => {
                     @relayRow(catchall)
                     @if(!catchall.enabled){
                        @addRelayRow()
                     }
                  }
                  case (Some(catchall),Some(relay)) => {
                     @relayRow(catchall)
                     @relayRow(relay)
                  }
               }
            </tbody>
         </table>

      </section>
   }



   <section>

      <h4><a href="@routes.Application.index)">Databases</a></h4>

      <table class="table table-hover">
         <thead>
            <tr>
               <th>database</th>
               <th>destination</th>
               <th>enabled</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            @for( (database,databaseAlias) <- databaseAliases){
               <tr>
                  <td>
                     <a href="@routes.Application.connectionIndex(database)">@database</a>
                  </td>
                  @databaseAlias match {
                     case Some(thisAlias) => {
                        <td @if(!thisAlias.enabled){ class="disabled" }>
                           @for(domainName <- alias.parseDomainName){
                              <a href="@routes.AliasController.viewAlias(database,domainName,alias.mail)">@thisAlias.destination</a>
                           }  
                        </td>
                        <td>@thisAlias.enabled</td>
                        <td colspan="1"></td>
                     }
                     case None => {
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1">
                           @if(featureToggles.isEnabled("add") && currentUser.isDefined){
                              @form(action=routes.AliasController.viewAddAlias(database,domain.name,alias.mail)){
                                 <button type="submit" title="add" class="btn btn-xs btn-success">+</button>
                              }
                           }
                        </td>
                     }
                  }
               </tr>
            }
         </tbody>
      </table>

   </section>


}
