@(catchAllAliases: List[Domain],nonCatchAllAliases: List[Domain],catchAllRelays: List[Domain],nonCatchAllRelays: List[Domain])

@main(Some("Aliases | Catch All")) {

   <h3><a href="@routes.AliasController.alias">Catch all aliases</a></h3>

   <section>

      <h4>Catch all</h4>

      <table class="table table-hover">
         <thead>
            <tr>
               <th>domain</th>
               <th>enabled</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            @for(domain <- catchAllAliases){
               <tr>
                  <td>
                     @if(!domain.enabled){ <s> }
                     <a href="@routes.DomainController.alias(domain.name)">@domain.name</a>
                     @if(!domain.enabled){ </s> }
                  </td>
                  <td>
                     @domain.enabled
                  </td>
                  <td class="actions">
                     @if(domain.enabled){
                        <button disabled title="disable" class="btn btn-xs btn-warning">d</button>
                        <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
                     } else {
                        <button disabled title="enable" class="btn btn-xs btn-success">e</button>
                        <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
                     }
                  </td>
               </tr>
            }
         </tbody>
      </table>

      <button class="btn btn-sm col-sm-2 col-xs-2 btn-info">add catch all</button>

   </section>

   <section>

      <h4>Not catch all</h4>

      <table class="table table-hover">
         <thead>
            <tr>
               <th>domain</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            @for(domain <- nonCatchAllAliases){
               <tr>
                  <td>
                     @if(!domain.enabled){ <s> }
                     <a href="@routes.DomainController.alias(domain.name)">@domain.name</a>
                     @if(!domain.enabled){ </s> }
                  </td>
                  <td class="actions">
                     <button disabled title="add" class="btn btn-xs btn-success">add</button>                      </td>
               </tr>
            }
         </tbody>
      </table>

   </section>

   <h3>Relays Catch All</h3>

   <section>

      <h4>Catch all</h4>

      <table class="table table-hover">
         <thead>
            <tr>
               <th>domain</th>
               <th>enabled</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            @for(domain <- catchAllRelays){
               <tr>
                  <td>
                     @if(!domain.enabled){ <s> }
                     <a href="@routes.DomainController.alias(domain.name)">@domain.name</a>
                     @if(!domain.enabled){ </s> }
                  </td>
                  <td>
                     @domain.enabled
                  </td>
                  <td class="actions">
                     @if(domain.enabled){
                        <button disabled title="disable" class="btn btn-xs btn-warning">d</button>
                        <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
                     } else {
                        <button disabled title="enable" class="btn btn-xs btn-success">e</button>
                        <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
                     }
                  </td>
               </tr>
            }
         </tbody>
      </table>

      <button class="btn btn-sm col-sm-2 col-xs-2 btn-info">add catch all</button>

   </section>

   <section>

      <h4>Not catch all</h4>

      <table class="table table-hover">
         <thead>
            <tr>
               <th>domain</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            @for(domain <- nonCatchAllRelays){
               <tr>
                  <td>
                     @if(!domain.enabled){ <s> }
                     <a href="@routes.DomainController.alias(domain.name)">@domain.name</a>
                     @if(!domain.enabled){ </s> }
                  </td>
                  <td class="actions">
                     <button disabled title="add" class="btn btn-xs btn-success">add</button>                      </td>
               </tr>
            }
         </tbody>
      </table>

   </section>



}
