@(currentDatabaseConnection: Environment.ConnectionName,
   catchAllAliases:          List[(Domain,Alias)],
   nonCatchAllAliases:       List[(Domain,Option[Alias])],
   catchAllRelays:           Option[List[(Domain,Relay)]],
   catchAllBackupsRelays:    Option[List[(Backup,Relay)]],
   nonCatchAllRelays:        Option[List[(Domain,Option[Relay])]],
   nonCatchAllBackupsRelays: Option[List[(Backup,Option[Relay])]]
)(implicit featureToggles: FeatureToggleMap, currentUser: Option[ApplicationUser])

@import helper._

@main(Some("Aliases | Catch All"), Some(currentDatabaseConnection)) {

   <h3>Catch all <a href="@routes.AliasController.alias(currentDatabaseConnection)">aliases</a></h3>

   <section>

      <h4>Catch all</h4>

      <table class="table table-hover">
         <thead>
            <tr>
               <th>domain</th>
               <th>destination</th>
               <th>enabled</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            @for((domain,alias) <- catchAllAliases){
               <tr>
                  <td>
                     @if(!alias.enabled){ <s> }
                     <a href="@routes.DomainController.viewDomain(currentDatabaseConnection,domain.name)">@domain.name</a>
                     @if(!alias.enabled){ </s> }
                  </td>
                  <td>
                     @if(!alias.enabled){ <s> }
                     @alias.destination
                     @if(!alias.enabled){ </s> }
                  </td>
                  <td>
                     @alias.enabled
                  </td>
                  <td class="actions">
                     @if(featureToggles.isEnabled("toggle")){
                        @if(alias.enabled){
                           @form(action=routes.AliasController.disable(currentDatabaseConnection,domain.name,alias.mail,"catchall"), 'class -> "form-inline", 'role -> "form"){
                              <button type="submit" title="disable" class="btn btn-xs btn-warning">d</button>
                           }
                        } else {
                           @form(action=routes.AliasController.enable(currentDatabaseConnection,domain.name,alias.mail,"catchall"), 'class -> "form-inline", 'role -> "form"){
                              <button type="submit" title="enable" class="btn btn-xs btn-success">e</button>
                           }
                        }
                     }
                  </td>
               </tr>
            }
         </tbody>
      </table>

   </section>

   <section>

      <h4>Not catch all</h4>

      <table class="table table-hover">
         <thead>
            <tr>
               <th>domain</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            @for((domain,alias) <- nonCatchAllAliases){
               <tr>
                  <td>
                     @if(alias.map(!_.enabled).getOrElse(false)){ <s> }
                     <a href="@routes.DomainController.viewDomain(currentDatabaseConnection,domain.name)">@domain.name</a>
                     @if(alias.map(!_.enabled).getOrElse(false)){ </s> }
                  </td>
                  <td class="actions">
                     @alias match{
                        case Some(aliasFound) => {
                           @if(featureToggles.isEnabled("toggle")){
                              @form(action=routes.AliasController.enable(currentDatabaseConnection,domain.name,aliasFound.mail,"catchall"), 'class -> "form-inline", 'role -> "form"){
                                 <button type="submit" title="enable" class="btn btn-xs btn-success">e</button>
                              }
                           }
                           @**
                           @if(featureToggles.isEnabled("remove")){
                              @form(action=routes.AliasController.remove(currentDatabaseConnection,domain.name,aliasFound.mail,"catchall"), 'class -> "form-inline", 'role -> "form"){
                                 <button type="submit" title="remove" class="btn btn-xs btn-danger">x</button>
                              }
                           }
                           **@
                        }
                        case None => {
                           @if(featureToggles.isEnabled("add")){
                              @form(action=routes.AliasController.viewAddCatchAll(currentDatabaseConnection,domain.name)){
                                 <button type="submit" title="add" class="btn btn-xs btn-success">+</button>
                              }
                           }
                        }
                     }
                   </td>
               </tr>
            }
         </tbody>
      </table>

   </section>


   @if(catchAllRelays.isDefined || catchAllBackupsRelays.isDefined || nonCatchAllRelays.isDefined || nonCatchAllBackupsRelays.isDefined){

      <h3>Relays Catch All</h3>

      @if(catchAllRelays.isDefined || catchAllBackupsRelays.isDefined){
         <section>

            <h4>Catch all</h4>

            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>domain</th>
                     <th>status</th>
                     <th>enabled</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  @for(relays <- catchAllRelays){
                     @for((domain,relay) <- relays){
                        <tr>
                           <td @if(!relay.enabled){ class="disabled" }>
                              <a href="@routes.DomainController.viewDomain(currentDatabaseConnection,domain.name)">@domain.name</a>
                           </td><td @if(!relay.enabled){ class="disabled" }>
                              @relay.status
                           </td>
                           <td>
                              @relay.enabled
                           </td>
                           <td class="actions">
                              @if(featureToggles.isEnabled("toggle")){
                                 @if(relay.enabled){
                                    @form(action=routes.RelayController.disable(currentDatabaseConnection,domain.name,relay.recipient,"catchall"), 'class -> "form-inline", 'role -> "form"){
                                       <button type="submit" title="disable" class="btn btn-xs btn-warning">d</button>
                                    }
                                  } else {
                                    @form(action=routes.RelayController.enable(currentDatabaseConnection,domain.name,relay.recipient,"catchall"), 'class -> "form-inline", 'role -> "form"){
                                       <button type="submit" title="enable" class="btn btn-xs btn-success">e</button>
                                    }
                                 }
                              }
                           </td>
                        </tr>
                     }
                  }
                  @for(relays <- catchAllBackupsRelays){
                     @for((backup,relay) <- relays){
                        <tr>
                           <td @if(!relay.enabled){ class="disabled" }>
                              <a href="@routes.DomainController.viewBackup(currentDatabaseConnection,backup.domain.name)">@backup.domain.name</a>
                           </td>
                           <td @if(!relay.enabled){ class="disabled" }>
                              @relay.status
                           </td>
                           <td>
                              @relay.enabled
                           </td>
                           <td class="actions">
                              @if(featureToggles.isEnabled("toggle")){
                                 @if(relay.enabled){
                                    @form(action=routes.RelayController.disable(currentDatabaseConnection,backup.domain.name,relay.recipient,"catchall"), 'class -> "form-inline", 'role -> "form"){
                                       <button type="submit" title="disable" class="btn btn-xs btn-warning">d</button>
                                    }
                                  } else {
                                    @form(action=routes.RelayController.enable(currentDatabaseConnection,backup.domain.name,relay.recipient,"catchall"), 'class -> "form-inline", 'role -> "form"){
                                       <button type="submit" title="enable" class="btn btn-xs btn-success">e</button>
                                    }
                                 }
                              }
                           </td>
                        </tr>
                     }
                  }
               </tbody>
            </table>

         </section>
      }


      @if(nonCatchAllRelays.isDefined || nonCatchAllBackupsRelays.isDefined){

         <section>

            <h4>Not catch all relays</h4>

            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>domain</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  @for(relays <- nonCatchAllRelays){
                     @for((domain,relay) <- relays){
                        <tr>
                           <td @if(relay.map(!_.enabled).getOrElse(false)){ class="disabled" }>
                              <a href="@routes.DomainController.viewDomain(currentDatabaseConnection,domain.name)">@domain.name</a>
                           </td>
                           <td class="actions">
                              @relay match{
                                 case Some(relayFound) => {
                                    @if(featureToggles.isEnabled("toggle")){
                                       @form(action=routes.RelayController.enable(currentDatabaseConnection,domain.name,relayFound.recipient,"catchall"), 'class -> "form-inline", 'role -> "form"){
                                          <button type="submit" title="enable" class="btn btn-xs btn-success">e</button>
                                       }
                                    }
                                    @**
                                    @if(featureToggles.isEnabled("remove")){
                                       @form(action=routes.RelayController.remove(currentDatabaseConnection,domain.name,relayFound.recipient,"catchall"), 'class -> "form-inline", 'role -> "form"){
                                          <button type="submit" title="remove" class="btn btn-xs btn-danger">x</button>
                                       }
                                    }
                                    **@
                                 }
                                 case None => {
                                    @if(featureToggles.isEnabled("add")){
                                       @form(action=routes.RelayController.viewAddCatchAll(currentDatabaseConnection,domain.name)){
                                          <button type="submit" title="add" class="btn btn-xs btn-success">+</button>
                                       }
                                    }
                                 }
                              }
                           </td>
                        </tr>
                     }
                  }
                  @for(relays <- nonCatchAllBackupsRelays){
                     @for((backup,relay) <- relays){
                        <tr>
                           <td @if(relay.map(!_.enabled).getOrElse(false)){ class="disabled" }>
                              <a href="@routes.DomainController.viewBackup(currentDatabaseConnection,backup.domain.name)">@backup.domain.name</a>
                           </td>
                           <td class="actions">
                              @relay match{
                                 case Some(relayFound) => {
                                    @if(featureToggles.isEnabled("toggle")){
                                       @form(action=routes.RelayController.enable(currentDatabaseConnection,backup.domain.name,relayFound.recipient,"catchall"), 'class -> "form-inline", 'role -> "form"){
                                          <button type="submit" title="enable" class="btn btn-xs btn-success">e</button>
                                       }
                                    }
                                    @**
                                    @if(featureToggles.isEnabled("remove")){
                                       @form(action=routes.RelayController.remove(currentDatabaseConnection,domain.name,relayFound.recipient,"catchall"), 'class -> "form-inline", 'role -> "form"){
                                          <button type="submit" title="remove" class="btn btn-xs btn-danger">x</button>
                                       }
                                    }
                                    **@
                                 }
                                 case None => {
                                    @if(featureToggles.isEnabled("add")){
                                       @form(action=routes.RelayController.viewAddCatchAll(currentDatabaseConnection,backup.domain.name)){
                                          <button type="submit" title="add" class="btn btn-xs btn-success">+</button>
                                       }
                                    }
                                 }
                              }
                           </td>
                        </tr>
                     }
                  }
               </tbody>
            </table>

         </section>

      }

   }

}
