@(currentDatabaseConnection: Environment.ConnectionName, commonAliases: List[ (Domain, Map[String,Boolean])], commonRelaysFound: Option[List[ (Domain, Map[String,Boolean])]] )(implicit featureToggles: FeatureToggleMap, currentUser: Option[ApplicationUser])

@aliasTick(aliasProduct: String, aliases: Map[String,Boolean]) = {
   @aliases.get(aliasProduct) match {
      case Some(alias) if alias => {
         <td class="tick">
            <img src="@routes.Assets.at("images/tick.png")" alt="tick" title="Present"/>
         </td><td class="tickactions">
            <button disabled title="disable" class="btn btn-xs btn-warning">d</button>
            <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
         </td>
      }
      case Some(alias) => {
         <td class="tick">
            <img src="@routes.Assets.at("images/minus-blue.png")" alt="tick" title="Disabled"/>
         </td><td class="tickactions">
            <button disabled title="enable" class="btn btn-xs btn-success">e</button>
            <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
         </td>
      }
      case None => {
         @aliases.get("") match {
            case Some(catchall) if catchall => {
               <td class="tick">
                  <img src="@routes.Assets.at("images/minus-blue.png")" alt="tick" title="Missing!"/>
               </td><td class="tickactions">
                  <button disabled title="add" class="btn btn-xs btn-success">+</button>
               </td>
            }
            case _ => {
               <td class="tick">
                  <img src="@routes.Assets.at("images/cross.svg")" alt="tick" title="Missing!"/>
               </td><td class="tickactions">
                  <button disabled title="add" class="btn btn-xs btn-success">+</button>
               </td>
            }
         }
      }
   }
}

@aliasCatchall(alternatives: List[String],aliases: Map[String,Boolean])={
   @aliases.get("") match {
      case Some(catchall) if catchall => {
         <td class="tick">
            <img src="@routes.Assets.at("images/tick.png")" alt="tick" title="Present"/>
         </td><td class="tickactions">
            <button disabled title="disable" class="btn btn-xs btn-warning">d</button>
            <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
         </td>
      }
      case Some(catchall) => {
         <td class="tick">
            <img src="@routes.Assets.at("images/minus-blue.png")" alt="tick" title="Disabled"/>
         </td><td class="tickactions">
            <button disabled title="enable" class="btn btn-xs btn-success">e</button>
            <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
         </td>
      }
      case None => {
         @** @if( alternatives.map( aliases.get(_).map(_.enabled) ).forall( _.getOrElse(false) ) ){ **@
         @if( alternatives.map(aliases.get(_)).forall(_.getOrElse(false))){
            <td class="tick">
               <img src="@routes.Assets.at("images/minus-blue.png")" alt="tick" title="Missing!"/>
            </td><td class="tickactions">
               <button disabled title="add" class="btn btn-xs btn-success">+</button>
            </td>
         } else {
            <td class="tick">
               <img src="@routes.Assets.at("images/cross.svg")" alt="tick" title="Missing!"/>
            </td><td class="tickactions">
               <button disabled title="add" class="btn btn-xs btn-success">+</button>
            </td>
         }
      }
   }
}

@main(Some("Aliases | Catch All"),Some(currentDatabaseConnection)) {

   <style>button.btn{ display: none; }</style>

   <h3>Common <a href="@routes.AliasController.alias(currentDatabaseConnection)">aliases</a></h3>

   <section>

      <h4>Required aliases</h4>

      <table class="table table-hover ticks">
         <thead>
            <tr>
               <th>domain</th>
               <th colspan="2">abuse</th>
               <th colspan="2">postmaster</th>
               <th colspan="2">catch all</th>
            </tr>
         </thead>
         <tbody>
            @for( (domain, aliases) <- commonAliases){
               <tr>
                  <td>
                     <a href="@routes.DomainController.viewDomain(currentDatabaseConnection,domain.name)">@domain.name</a>
                  </td>
                  @aliasTick("abuse",aliases)
                  @aliasTick("postmaster",aliases)
                  @aliasCatchall(List("abuse","postmaster"),aliases)
               </tr>
            }
         </tbody>
      </table>

   </section>

   <section>

      <h4>Common aliases</h4>

      <table class="table table-hover ticks">
         <thead>
            <tr>
               <th>domain</th>
               <th colspan="2">info</th>
               <th colspan="2">root</th>
               <th colspan="2">support</th>
               <th colspan="2">webmaster</th>
               <th colspan="2">catch all</th>
            </tr>
         </thead>
         <tbody>
            @for( (domain, aliases) <- commonAliases){
               <tr>
                  <td>
                     <a href="@routes.DomainController.viewDomain(currentDatabaseConnection,domain.name)">@domain.name</a>
                  </td>
                  @aliasTick("info",aliases)
                  @aliasTick("root",aliases)
                  @aliasTick("support",aliases)
                  @aliasTick("webmaster",aliases)
                  @aliasCatchall(List("info","root","support","webmaster"),aliases)
               </tr>
            }
         </tbody>
      </table>

   </section>

   @for(commonRelays <- commonRelaysFound){

      <section>

         <h4>Required relays</h4>

         <table class="table table-hover ticks">
            <thead>
               <tr>
                  <th>domain</th>
                  <th colspan="2">abuse</th>
                  <th colspan="2">postmaster</th>
                  <th colspan="2">catch all</th>
               </tr>
            </thead>
            <tbody>
               @for( (domain, aliases) <- commonRelays){
                  <tr>
                     <td>
                        <a href="@routes.DomainController.viewDomain(currentDatabaseConnection,domain.name)">@domain.name</a>
                     </td>
                     @aliasTick("abuse",aliases)
                     @aliasTick("postmaster",aliases)
                     @aliasCatchall(List("abuse","postmaster"),aliases)
                  </tr>
               }
            </tbody>
         </table>

      </section>

      <section>

         <h4>Common relays</h4>

         <table class="table table-hover ticks">
            <thead>
               <tr>
                  <th>domain</th>
                  <th colspan="2">info</th>
                  <th colspan="2">root</th>
                  <th colspan="2">support</th>
                  <th colspan="2">webmaster</th>
                  <th colspan="2">catch all</th>
               </tr>
            </thead>
            <tbody>
               @for( (domain, aliases) <- commonRelays){
                  <tr>
                     <td>
                        <a href="@routes.DomainController.viewDomain(currentDatabaseConnection,domain.name)">@domain.name</a>
                     </td>
                     @aliasTick("info",aliases)
                     @aliasTick("root",aliases)
                     @aliasTick("support",aliases)
                     @aliasTick("webmaster",aliases)
                     @aliasCatchall(List("abuse","postmaster"),aliases)
                  </tr>
               }
            </tbody>
         </table>

      </section>
   }

}
