@(currentDatabaseConnection: Environment.ConnectionName, aliases: List[String], domainAliases: List[(Domain, (Map[String,Boolean], Option[Map[String,Boolean]]))] )

@aliasTick(domain: Domain, domainAlias: Map[String,Boolean]) = {
    <tr>
      <th><a href="@routes.DomainController.alias(currentDatabaseConnection,domain.name)">@domain.name</a></th>
      @for(aliasName <- aliases.filterNot(_=="")){
         @domainAlias.get(aliasName) match {
            case Some(alias) if alias => {
               <td class="tick">
                  <img src="@routes.Assets.at("images/tick.png")" alt="tick" title="Present"/>
               </td><td class="tickactions">
                  <button disabled title="disable" class="btn btn-xs btn-warning">d</button>
                  <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
               </td>
            }
            case Some(alias) => {
               <td class="tick">
                  <img src="@routes.Assets.at("images/minus-blue.png")" alt="minus" title="Disabled!"/>
               </td><td class="tickactions">
                  <button disabled title="enable" class="btn btn-xs btn-success">e</button>
                  <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
               </td>
            }
            case None => {
               @domainAlias.get("") match {
                  case Some(catchall) if catchall => {
                     <td class="tick">
                        <img src="@routes.Assets.at("images/minus-blue.png")" alt="minus" title="Disabled!"/>
                     </td><td class="tickactions">
                        <button disabled title="add" class="btn btn-xs btn-info">+</button>
                     </td>
                  }
                  case _ => {
                     <td class="tick">
                        <img src="@routes.Assets.at("images/cross.svg")" alt="tick" title="Missing!"/>
                     </td><td class="tickactions">
                        <button disabled title="add" class="btn btn-xs btn-success">+</button>
                     </td>
                  }
               }
            }
         }
      }
     @aliasCatchall(domainAlias)
   </tr>
 }

@aliasCatchall(domainAlias: Map[String,Boolean]) = {
   @domainAlias.get("") match {
      case Some(catchall) if catchall => {
         <td class="tick">
            <img src="@routes.Assets.at("images/tick.png")" alt="tick" title="Present"/>
         </td><td class="tickactions">
            <button disabled title="disable" class="btn btn-xs btn-warning">d</button>
            <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
         </td>
      }
      case Some(catchall) => {
         <td class="tick">
            <img src="@routes.Assets.at("images/minus-blue.png")" alt="tick" title="Disabled"/>
         </td><td class="tickactions">
            <button disabled title="enable" class="btn btn-xs btn-success">e</button>
            <button disabled title="remove" class="btn btn-xs btn-danger">x</button>
         </td>
      }
      case None => {
         @if(domainAlias.filter( _._1 != "").forall( _._2) && domainAlias.filter( _._1 != "").size > 0){
            <td class="tick">
               <img src="@routes.Assets.at("images/minus-blue.png")" alt="tick" title="Missing!"/>
            </td><td class="tickactions">
               <button disabled title="add" class="btn btn-xs btn-info">+</button>
            </td>
         } else {
            <td class="tick">
               <img src="@routes.Assets.at("images/cross.svg")" alt="tick" title="Missing!"/>
            </td><td class="tickactions">
               <button disabled title="add" class="btn btn-xs btn-success">+</button>
            </td>
         }
      }
   }
}


@main(Some("Aliases | Cross domain"),Some(currentDatabaseConnection)) {

   <style>button.btn{ display: none; }</style>

   <h3>Cross domain <a href="@routes.AliasController.alias(currentDatabaseConnection)">aliases</a></h3>

   <section>

      <h4>Cross domain alias</h4>

      <table class="table table-hover ticks">
         <thead>
            <tr>
               <th>alias</th>
               @for(aliasName <- aliases.filterNot(_=="")){
                  <th colspan="2">@aliasName</th>
               }
                <th colspan="2">catchall</th>
            </tr>
         </thead>
         <tbody>
            @for( (domain,(domainAlias,domainRelay)) <- domainAliases){
              @aliasTick(domain,domainAlias)
            }
         </tbody>
      </table>

   </section>

   @if( domainAliases.exists( al => al._2._2.isDefined ) ){

      <section>

         <h4>Cross domain relay</h4>

         <table class="table table-hover ticks">
            <thead>
               <tr>
                  <th>alias</th>
                  @for(aliasName <- aliases.filterNot(_=="")){
                     <th colspan="2">@aliasName</th>
                  }
                   <th colspan="2">catchall</th>
            </thead>
            <tbody>
               @for( (domain,(domainAlias,domainRelay)) <- domainAliases){
                  @for( relay <- domainRelay){
                     @aliasTick(domain,relay)
                  }
               }
            </tbody>
         </table>

      </section>
   }



}
