logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/conf/local.conf
/conf/prod.conf
/local
/app.old
/conf.old
/public.old
/test.old

.vscode/

app.log
