@(currentDatabaseConnection: Environment.ConnectionName, domain: Domain, backup: Option[Backup], possibleAlias: Option[Alias], relay: Relay, databaseRelays: List[(Environment.ConnectionName,Option[Relay])])(implicit featureToggles: FeatureToggleMap, currentUser: Option[ApplicationUser])

@import helper._


@main(Some("Relay"), Some(currentDatabaseConnection)) {


   <h3>Relay</h3>

  <table class="table">
     <tbody>
        <tr>
           <th>recipient</th>
           <td colspan="2">@relay.recipient</td>
        </tr>
        <tr>
           <th>status</th>
           <td colspan="2">@relay.status</td>
        </tr>
        <tr>
           <th>enabled</th>
           <td colspan="2">@relay.enabled</td>
        </tr>
         <tr>
            <th>domain</th>
            <td colspan="2" @if(!domain.enabled){class="disabled"}>
            	@backup match {
            		case Some(_) => {
            			<a href="@routes.DomainController.viewBackup(currentDatabaseConnection,domain.name)">@domain.name</a>
            		}
            		case None => {
            			<a href="@routes.DomainController.viewDomain(currentDatabaseConnection,domain.name)">@domain.name</a>
            		}
            	}
            </td>
         </tr>
     </tbody>
  </table>

	@if(featureToggles.isEnabled("toggle")){
		<section>
			@possibleAlias match {
				case Some(alias) => {
					@if(relay.status=="OK"){
						@form(action=routes.RelayController.rejectAliasRelay(currentDatabaseConnection,domain.name,alias.mail,relay.recipient), "class" -> "form-inline", "role" -> "form"){
							<button type"submit" title="reject" class="btn btn-sm col-sm-2 col-xs-2 btn-warning">reject relay</button>
						}
					} else {
						@form(action=routes.RelayController.acceptAliasRelay(currentDatabaseConnection,domain.name,alias.mail,relay.recipient), "class" -> "form-inline", "role" -> "form"){
							<button type"submit" title="accept" class="btn btn-sm col-sm-2 col-xs-2 btn-success">accept relay</button>
						}
					}
				}
				case None => {
					@if(relay.status=="OK"){
						@form(action=routes.RelayController.rejectRelay(currentDatabaseConnection,domain.name,relay.recipient), "class" -> "form-inline", "role" -> "form"){
							<button type"submit" title="reject" class="btn btn-sm col-sm-2 col-xs-2 btn-warning">reject relay</button>
						}
					} else {
						@form(action=routes.RelayController.acceptRelay(currentDatabaseConnection,domain.name,relay.recipient), "class" -> "form-inline", "role" -> "form"){
							<button type"submit" title="accept" class="btn btn-sm col-sm-2 col-xs-2 btn-success">accept relay</button>
						}
					}
				}
			}
		</section>

		<section>
			@possibleAlias match {
				case Some(alias) => {
					@if(relay.enabled){
						@form(action=routes.RelayController.disableAliasRelay(currentDatabaseConnection,domain.name,alias.mail,relay.recipient,"relaydetails"), "class" -> "form-inline", "role" -> "form"){
							<button type"submit" title="disable" class="btn btn-sm col-sm-2 col-xs-2 btn-warning">disable relay</button>
						}
					} else {
						@form(action=routes.RelayController.enableAliasRelay(currentDatabaseConnection,domain.name,alias.mail,relay.recipient,"relaydetails"), "class" -> "form-inline", "role" -> "form"){
							<button type"submit" title="enable" class="btn btn-sm col-sm-2 col-xs-2 btn-success">enable relay</button>
						}
					}
				}
				case None => {
					@if(relay.enabled){
						@form(action=routes.RelayController.disable(currentDatabaseConnection,domain.name,relay.recipient,"relaydetails"), "class" -> "form-inline", "role" -> "form"){
							<button type"submit" title="disable" class="btn btn-sm col-sm-2 col-xs-2 btn-warning">disable relay</button>
						}
					} else {
						@form(action=routes.RelayController.enable(currentDatabaseConnection,domain.name,relay.recipient,"relaydetails"), "class" -> "form-inline", "role" -> "form"){
							<button type"submit" title="enable" class="btn btn-sm col-sm-2 col-xs-2 btn-success">enable relay</button>
						}
					}
				}
			}
		</section>
	}

	@if(featureToggles.isEnabled("remove") && !relay.enabled){
		<section>
			@possibleAlias match {
				case Some(alias) => {
					@form(action=routes.RelayController.removeAliasRelay(currentDatabaseConnection,domain.name,alias.mail,relay.recipient), "class" -> "form-inline", "role" -> "form"){
						<button type="submit" title="remove" class="btn btn-sm col-sm-2 col-xs-2 btn-danger">remove relay</button>
					}
				}
				case None => {
					@form(action=routes.RelayController.remove(currentDatabaseConnection,domain.name,relay.recipient,"relaydetails"), "class" -> "form-inline", "role" -> "form"){
						<button type="submit" title="remove" class="btn btn-sm col-sm-2 col-xs-2 btn-danger">remove relay</button>
					}
				}
			}
		</section>
	}




   <section>

      <h4><a href="@routes.Application.index)">Databases</a></h4>

      <table class="table table-hover">
         <thead>
            <tr>
               <th>database</th>
               <th>status</th>
               <th>enabled</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            @for( (database,databaseRelay) <- databaseRelays){
               <tr>
                  <td>
                     <a href="@routes.Application.connectionIndex(database)">@database</a>
                  </td>
                  @databaseRelay match {
                     case Some(thisRelay) => {
                        <td @if(!thisRelay.enabled){ class="disabled" }>
                           <a href="@routes.RelayController.viewRelay(database,domain.name,relay.recipient)">@thisRelay.status</a>
                        </td>
                        <td>@thisRelay.enabled</td>
                        <td colspan="1"></td>
                     }
                     case None => {
                        <td colspan="2"></td>
                        <td colspan="1">
                           @if(featureToggles.isEnabled("add") && currentUser.isDefined){
                              @form(action=routes.RelayController.viewAddRelay(database,domain.name,relay.recipient)){
                                 <button type="submit" title="add" class="btn btn-xs btn-success">+</button>
                              }
                           }
                        </td>
                     }
                  }
               </tr>
            }
         </tbody>
      </table>

   </section>


}
