body {
	padding: 0.3em 1em;
	max-width: 65em;
	min-width: 50em;
   background-color: #deffde;
   color: black;
   font-family: Arial, sans-serif;
}
a,
a:visited {
   color: navy;
}
a:active,
a:hover {
   color: red;
}
#cargo a {
   text-decoration: underline;
}
#cargo a.btn,
#cargo a.btn:visited,
#cargo a.btn:hover,
#cargo a.btn:active {
   text-decoration: none;
   color: white;
}
navigation {
	float: right;
}
navigation li {
	display: inline;
	list-style: none;
	padding: 0.1em 1em;
}
navigation a,
navigation a:visited {
   color: black;
   text-decoration: none;
}
#ship {
   border: 3px solid black;
   box-shadow: 10px 10px 15px -5px #333333;
   -webkit-box-shadow: 0px 0px 25px 6px #333333;
   -moz-box-shadow: 10px 10px 15px -5px #333333;
   border-radius: 7px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   clear: both;
   background-color: white;
}
header {
   padding: 1em 1em 0 1em;
   margin-bottom: 0;
}
header h1 {
   margin-top: 0;
   font-family: 'Black Ops One', Arial, sans-serif;
}
header h1 a,
header h1 a:visited,
header h1 a:hover,
header h1 a:active {
   text-decoration: none;
   color: navy;
}
h3 {
   margin-bottom: 1em;
}
footer {
   padding: 1em;
   margin-top: 0.5em;
}
footer #flurdy-footer {
   height: 1.0em;
   float: right;
}
#cargo {
   clear: both;
   margin: 0em 1em 1em 1em;
   padding: 1em;
   min-height: 24em;
   color: #404040;
}
#cargo section {
   margin: 3em 0 5em 0;
   clear: both;
}
#cargo section > button,
#cargo section > form > button,
#cargo section > a.btn,
#cargo section > form > a.btn {
   float: right;
   margin: 1em 0;
}
#cargo section > form > button.btn-left {
   float: left !important;
}
#cargo section table {
   clear: both;
   width: 100%;
}
#cargo section table .actions {
   text-align: right;
}
#cargo section table button {
   margin: 0 0.1em;
}
#cargo section table.ticks th{
   text-align: center;
}
#cargo section table.ticks th:nth-of-type(1) {
   text-align: left;
}
#cargo section table .tickactions {
}
#cargo section table .tick {
   text-align: right;
   /*padding-left: 1em;*/
}
#cargo section table .tick img {
   height: 20px;
}
#cargo table td form.form-inline {
   display: inline;
}
#connections {
   float: right;
   clear: right;
   padding: 0.2em 1em;
   font-size: 9pt;
   color: gray;
}