@(currentDatabaseConnection: Environment.ConnectionName, domain: Option[Domain], userForm: Form[User])(implicit errorMessages: List[ErrorMessage] = List.empty, featureToggles: FeatureToggleMap, currentUser: Option[ApplicationUser])

@import models._
@import helper._


@userFormFields(domainName: String) = {

	<div class="form-group">
		<label for="inputMail" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="text" name="email" required class="form-control" id="inputMail"
				placeholder="e.g. john.smith@@@domainName" value="@userForm("email").value"
				title="Full valid email address" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputName" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" name="name" required class="form-control" id="inputName"
				placeholder="e.g. johnsmith" value="@userForm("name").value"
				title="Short name for user" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputMaildir" class="col-sm-2 control-label">Maildir</label>
		<div class="col-sm-10">
			<input type="text" name="maildir" required class="form-control" id="inputMaildir"
				placeholder="e.g. @domainName/john.smith" value="@userForm("maildir").value"
				title="Relative path from mail spool to mailbox" />
		</div>
	</div>

	@if(featureToggles.isEnabled("add")){
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-sm col-sm-3 col-xs-3 btn-success">add user</a>
			</div>
		</div>
	}

}


@main(Some("User add"), Some(currentDatabaseConnection)) {

	<h3>Add user</h3>


    @for(error <- userForm.errors){
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            @if(error.message == "error.required"){
                Please fill in field: @error.key
            } else {
               @error.message
            }
        </div>
    }


    <section>

    	@domain match {
    		case Some(domainName) => {
				@form(action=routes.UserController.addWithDomain(currentDatabaseConnection,domainName.name), "class" -> "form-horizontal", "role" -> "form"){

					@userFormFields(domainName.name)

				}
    		}
    		case None => {
				@form(action=routes.UserController.add(currentDatabaseConnection), "class" -> "form-horizontal", "role" -> "form"){

					@userFormFields("example.com")

				}
    		}
    	}

	</section>

}
