@(user: User)(implicit currentDatabaseConnection: Option[String] = None, databaseConnections: List[(String,String)])

@main(Some("Users")) {

   <style>button.btn{ display: none; }</style>

   <h3><a href="@routes.UserController.user">User</a></h3>

   <section>

      <table class="table table-hover">
         <tbody>
            <tr>
               <th>email</th>
               <td>@user.email</td>
            </tr>
            <tr>
               <th>reset password on next login</th>
               <td>@user.passwordReset</td>
            </tr>
            <tr>
               <th>enabled</th>
               <td>@user.enabled</td>
            </tr>
            <tr>
               <th></th>
               <td class="actions">
                  <button disabled class="btn btn-sm col-sm-4 col-xs-4 btn-warning">reset password</button>
               </td>
            </tr>
            <tr>
               <th></th>
               <td> 
                  @if(user.enabled){
                     <button disabled class="btn btn-sm col-sm-4 col-xs-4 btn-warning">disable</button> 
                  } else {
                     <button disabled class="btn btn-sm col-sm-4 col-xs-4 btn-success">enable</button> 
                  }
               </td>
            </tr>
            <tr>
               <th></th>
               <td>
                  <button disabled class="btn btn-sm col-sm-4 col-xs-4 btn-danger">remove</button>
               </td>
            </tr>
         </tbody>
      </table>


   </section>

}
