@(currentDatabaseConnection: Environment.ConnectionName,user: User)(implicit errorMessages: List[ErrorMessage] = List.empty, featureToggles: FeatureToggleMap)

@import helper._

@main(Some("Users"),Some(currentDatabaseConnection)) {

   <h3><a href="@routes.UserController.user(currentDatabaseConnection)">User</a></h3>

   <section>

      <table class="table table-hover">
         <tbody>
            <tr>
               <th>email</th>
               <td>@user.email</td>
            </tr>
            <tr>
               <th>reset password on next login</th>
               <td>@user.passwordReset</td>
            </tr>
            <tr>
               <th>enabled</th>
               <td>@user.enabled</td>
            </tr>
            @if(featureToggles.isEnabled("edit")){
               <tr>
                  <th></th>
                  <td class="actions">
                        <button disabled class="btn btn-sm col-sm-4 col-xs-4 btn-warning">reset password</button>
                  </td>
               </tr>
            }
            <tr>
               <th></th>
               <td>
                  @if(featureToggles.isEnabled("toggle")){
                     @if(user.enabled){
                        @form(action=routes.UserController.disable(currentDatabaseConnection,user.email)){
                           <button type="submit" title="disable" class="btn btn-xs btn-warning">disable</button>
                        }
                     } else {
                        @form(action=routes.UserController.enable(currentDatabaseConnection,user.email)){
                           <button type="submit" title="enable" class="btn btn-xs btn-success">enable</button>
                        }
                     }
                  }
               </td>
            </tr>
            @if(featureToggles.isEnabled("remove")){
               <tr>
                  <th></th>
                  <td>
                        <button disabled class="btn btn-sm col-sm-4 col-xs-4 btn-danger">remove</button>
                  </td>
               </tr>
            }
         </tbody>
      </table>

   </section>

}
