@(currentDatabaseConnection: Environment.ConnectionName,user: User)(implicit errorMessages: List[ErrorMessage] = List.empty, featureToggles: FeatureToggleMap)

@import helper._

@main(Some("Users"),Some(currentDatabaseConnection)) {

   <h3><a href="@routes.UserController.user(currentDatabaseConnection)">User</a></h3>

   <section>

      <table class="table">
         <tbody>
            <tr>
               <th>email</th>
               <td colspan="2">@user.email</td>
            </tr>
            <tr>
               <th>name</th>
               <td colspan="2">@user.name</td>
            </tr>
            <tr>
               <th>maildir</th>
               <td colspan="2">@user.maildir</td>
            </tr>
            <tr>
               <th>reset password on next login</th>
               <td colspan="2">@user.passwordReset</td>
            </tr>
            <tr>
               <th>enabled</th>
               <td colspan="2">@user.enabled</td>
            </tr>
         </tbody>
      </table>

   </section>

   @if(featureToggles.isEnabled("edit") && !user.passwordReset){
      <section>
         @form(action=routes.UserController.resetPassword(currentDatabaseConnection,user.email)){
            <button type="submit" class="btn btn-sm col-sm-2 col-xs-2 btn-warning">reset password</button>
         }
      </section>
   }

   @if(featureToggles.isEnabled("toggle")){
      <section>
         @if(user.enabled){
            @form(action=routes.UserController.disable(currentDatabaseConnection,user.email)){
               <button type="submit" title="disable" class="btn btn-sm col-sm-2 col-xs-2 btn-warning">disable</button>
            }
         } else {
            @form(action=routes.UserController.enable(currentDatabaseConnection,user.email)){
               <button type="submit" title="enable" class="btn btn-sm col-sm-2 col-xs-2 btn-success">enable</button>
            }
         }
      </section>
   }

   @if(featureToggles.isEnabled("remove")){
      <section>
         @if(!user.enabled){
            @form(action=routes.UserController.remove(currentDatabaseConnection,user.email), 'class -> "form-inline", 'role -> "form"){
               <button type="submit" title="remove" class="btn btn-sm col-sm-2 col-xs-2 btn-danger">remove</button>
            }
         } else {
            <button disabled title="Can only remove disabled users" class="btn btn-sm col-sm-2 col-xs-2 btn-danger">remove</button>
         }
      </section>
   }

}
