@(currentDatabaseConnection: Environment.ConnectionName, users: List[User])(implicit errorMessages: List[ErrorMessage] = List.empty)

@main(Some("Users"),Some(currentDatabaseConnection)) {

   <style>button.btn{ display: none; }</style>

   <h3>Users</h3>

   <section>

      <table class="table table-hover ticks">
         <thead>
            <tr>
               <th>email</th>
               <th>enabled</th>
            </tr>
         </thead>
         <tbody>
            @for(user <- users){
            <tr>
               <td>
                  @if(!user.enabled){ <s> }
                  <a href="@routes.UserController.edituser(currentDatabaseConnection,user.email)">@user.email</a>
                  @if(!user.enabled){ </s> }
               <td>@user.enabled</td>
               <td class="actions">
                  @if(user.enabled){ 
                     <button disabled title="disable" class="btn btn-xs btn-warning">d</button>
                  } else {
                     <button disabled title="enable" class="btn btn-xs btn-info">e</button>
                  }                  
                  <button disabled title="edit" class="btn btn-xs btn-info">edit</button>
               </td>
            </tr>
            }
         </tbody>
      </table>

      <button disabled class="btn btn-sm col-sm-2 col-xs-2 btn-info">add user</button>

   </section>

}
