@(currentDatabaseConnection: Environment.ConnectionName, users: List[User])(implicit errorMessages: List[ErrorMessage] = List.empty, featureToggles: FeatureToggleMap, currentUser: Option[ApplicationUser])

@import helper._

@main(Some("Users"),Some(currentDatabaseConnection)) {

   <h3>Users</h3>

   <section>

      <table class="table table-hover ticks">
         <thead>
            <tr>
               <th>email</th>
               <th>maildir</th>
               <th>enabled</th>
            </tr>
         </thead>
         <tbody>
            @for(user <- users){
            <tr>
               <td>
                  @if(!user.enabled){ <s> }
                  <a href="@routes.UserController.edituser(currentDatabaseConnection,user.email)">@user.email</a>
                  @if(!user.enabled){ </s> }
               <td>
                  @if(!user.enabled){ <s> }
                     @user.maildir
                  @if(!user.enabled){ </s> }
               </td>
               <td>@user.enabled</td>
               <td class="actions">
                  @if(featureToggles.isEnabled("toggle")){
                     @if(user.enabled){
                        @form(action=routes.UserController.disableUser(currentDatabaseConnection,user.email, "user")){
                           <button type="submit" title="disable" class="btn btn-xs btn-warning">d</button>
                        }
                     } else {
                        @form(action=routes.UserController.enableUser(currentDatabaseConnection,user.email, "user")){
                           <button type="submit" title="enable" class="btn btn-xs btn-success">e</button>
                        }
                     }
                  }
               </td>
            </tr>
            }
         </tbody>
      </table>

      @if(featureToggles.isEnabled("add")){
         <a href="@routes.UserController.viewAdd(currentDatabaseConnection)" class="btn btn-sm col-sm-2 col-xs-2 btn-info">add user</a>
      }

   </section>

}
