@(currentDatabaseConnection: Environment.ConnectionName, domainForm: Form[String])(implicit errorMessages: List[ErrorMessage] = List.empty, featureToggles: FeatureToggleMap)

@import models._
@import helper._

@main(Some("Domains"), Some(currentDatabaseConnection)) {

	<h3>Add domain</h3>


    @for(error <- domainForm.errors){
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            @if(error.message == "error.required"){
                Please fill in field: @error.key
            } else {
               @error.message
            }
        </div>
    }


    <section>

		@form(action=routes.DomainController.add(currentDatabaseConnection), 'class -> "form-horizontal", 'role -> ""){

			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">Domain name</label>
				<div class="col-sm-10">
					<input type="text" name="name" required class="form-control" id="inputName"
						placeholder="e.g. example.com" value="@domainForm("name").value" />
				</div>
			</div>

			@if(featureToggles.isEnabled("add")){
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-sm col-sm-3 col-xs-3 btn-success">add domain</a>
					</div>
				</div>
			}

		}

	</section>

}
