@(currentDatabaseConnection: Environment.ConnectionName, domain: Domain, relaysFound: Option[List[Relay]], aliases: List[Alias], users: List[User], toggleEnabled: Boolean, writeEnabled: Boolean = false)

@import helper._

@main(Some("Domain aliases | example.org"), Some(currentDatabaseConnection)) {

   <h3><a href="@routes.DomainController.domain(currentDatabaseConnection)">Domain</a> aliases [@domain.name]</h3>



   <section>

		<h4><a href="@routes.AliasController.alias(currentDatabaseConnection)">Aliases</a></h4>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>mail</th>
					<th>destination</th>
					<th>enabled</th>
					<th colspan="2"></th>
				</tr>
			</thead>
			<tbody>
				@for( alias <- aliases){
				<tr>
					<td>@if(!alias.enabled){ <s> } @alias.mail @if(!alias.enabled){ </s> }</td>
					<td>
						@if(!alias.enabled){ <s> }
							@if(alias.destination.startsWith("@")){
							<a href="@routes.DomainController.alias(currentDatabaseConnection,alias.destination.drop(1))">
								@alias.destination
							</a>
							} else {
								@alias.destination
							}
						@if(!alias.enabled){ </s> }
					</td>
					<td>@alias.enabled</td>
					<td class="actions">
						@if(toggleEnabled){
							@if(alias.enabled){
								<button disabled title="disable" class="btn btn-xs btn-warning">d</button>
							} else {
								<button disabled title="enable" class="btn btn-xs btn-success">e</button>
							}
						}
						@if(writeEnabled){
							<button disabled title="remove" class="btn btn-xs btn-danger">x</button>
						}
					</td>
				</tr>
				}
			</tbody>
		</table>

		@if(writeEnabled){
			<button disabled class="btn btn-sm col-sm-2 col-xs-2 btn-info">add alias</button>
		}

	</section>


	@for(relays <- relaysFound){

		 <section>

			<h4>Relay maps</h4>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>recipient</th>
						<th>enabled</th>
						<th>status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@for( relay <- relays){
					<tr>
						<td>@if(!relay.enabled){ <s> } @relay.recipient @if(!relay.enabled){ </s> }</td>
						<td>@relay.enabled</td>
						<td>@relay.status</td>
						<td class="actions">
							@if(toggleEnabled){
								@if(relay.enabled){
									<button disabled  title="disable" class="btn btn-xs btn-warning">d</button>
								} else {
									<button disabled title="enable" class="btn btn-xs btn-success">e</button>
								}
							}
							@if(writeEnabled){
								<button disabled title="remove" class="btn btn-xs btn-danger">x</button>
							}
						</td>
					</tr>
					}
				</tbody>
			</table>

			@if(writeEnabled){
				<button disabled class="btn btn-sm col-sm-2 col-xs-2 btn-info">add relay</button>
			}

		</section>
	}

   <section>

		<h4><a href="@routes.UserController.user(currentDatabaseConnection)">Users</a></h4>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>mail</th>
					<th>enabled</th>
					<th colspan="2"></th>
				</tr>
			</thead>
			<tbody>
				@for( user <- users){
				<tr>
					<td>@user.email</td>
					<td>@user.passwordReset</td>
					<td>@user.enabled</td>
					<td class="actions">
						@if(toggleEnabled){
							@if(user.enabled){
								<button disabled title="disable" class="btn btn-xs btn-warning">d</button>
							} else {
								<button disabled title="enable" class="btn btn-xs btn-success">e</button>
							}
						}
						@if(writeEnabled){
							<button disabled title="edit" class="btn btn-xs btn-info">edit</button>
						}
					</td>
				</tr>
				}
			</tbody>
		</table>

		@if(writeEnabled){
			<button disabled class="btn btn-sm col-sm-2 col-xs-2 btn-info">add user</button>
		}

	</section>

	<section>
		@if(toggleEnabled){
			@if(domain.enabled){
				@form(action=routes.DomainController.disable(currentDatabaseConnection,domain.name)){
					<button type="submit" title="disable" class="btn btn-xs btn-warning">disable domain</button>
				}
			} else {
				@form(action=routes.DomainController.enable(currentDatabaseConnection,domain.name)){
					<button type="submit" title="enable" class="btn btn-xs btn-success">enable domain</button>
				}
			}
		}
	</section>

	<section>
		@if(writeEnabled){
			<button disabled title="enable" class="btn btn-xs btn-danger">remove domain</button>
		}
	</section>


}
