@(currentDatabaseConnection: Environment.ConnectionName, relays: List[Domain], backupDomains: Option[List[Domain]])(implicit errorMessages: List[ErrorMessage] = List.empty, featureToggles: FeatureToggleMap, currentUser: Option[ApplicationUser])

@import models._
@import helper._

@main(Some("Domains"), Some(currentDatabaseConnection)) {

	<h3>Domains</h3>

   <section>

		<h4>Relay domains</h4>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>domain</th>
					<th>enabled</th>
					<th>transport</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for(domain <- relays){
				<tr>
					<td>
						@if(!domain.enabled){ <s> }
						<a href="@routes.DomainController.alias(currentDatabaseConnection,domain.name)">@domain.name</a>
						@if(!domain.enabled){ </s> }
					</td>
					<td>@domain.enabled</td>
					<td>
						@if(!domain.enabled){ <s> }
						@domain.transport
						@if(!domain.enabled){ </s> }
					</td>
					<td class="actions">
						@if(featureToggles.isEnabled("toggle")){
							@if(domain.enabled){
								@form(action=routes.DomainController.disable(currentDatabaseConnection,domain.name), 'class -> "form-inline", 'role -> "form"){
									<button type="submit" title="disable" class="btn btn-xs btn-warning">d</button>
								}
							} else {
								@form(action=routes.DomainController.enable(currentDatabaseConnection,domain.name), 'class -> "form-inline", 'role -> "form"){
									<button type="submit" title="enable" class="btn btn-xs btn-success">e</button>
								}
							}
						}
					</td>
				</tr>
				}
			</tbody>
		</table>

		@if(featureToggles.isEnabled("add")){
			<a href="@routes.DomainController.viewAdd(currentDatabaseConnection)" class="btn btn-sm col-sm-2 col-xs-2 btn-info">add domain</a>
		}

	</section>


	@for( backups <- backupDomains){

	   <section>

			<h4>Backed up domains</h4>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>domain</th>
						<th>enabled</th>
						<th>transport</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@for(domain <- backups){
					<tr>
						<td>
							@if(!domain.enabled){ <s> }
							<a href="@routes.DomainController.alias(currentDatabaseConnection,domain.name)">@domain.name</a>
							@if(!domain.enabled){ </s> }
						</td>
						<td>@domain.enabled</td>
						<td>
							@if(!domain.enabled){ <s> }
							@domain.transport
							@if(!domain.enabled){ </s> }
						</td>
						<td class="actions">
							@if(featureToggles.isEnabled("toggle")){
								@if(domain.enabled){
									@form(action=routes.DomainController.disableBackup(currentDatabaseConnection,domain.name), 'class -> "form-inline", 'role -> "form"){
										<button type="submit" title="disable" class="btn btn-xs btn-warning">d</button>
									}
								} else {
									@form(action=routes.DomainController.enableBackup(currentDatabaseConnection,domain.name), 'class -> "form-inline", 'role -> "form"){
										<button type="submit" title="enable" class="btn btn-xs btn-success">e</button>
									}
								}
							}
						</td>
					</tr>
					}
				</tbody>
			</table>

			@if(featureToggles.isEnabled("add")){
				<a href="@routes.DomainController.viewAddBackup(currentDatabaseConnection)" class="btn btn-sm col-sm-2 col-xs-2 btn-info">add backup</a>
			}

		</section>
	}

}
