@(currentDatabaseConnection: Environment.ConnectionName, domain: Option[Domain], backup: Option[Domain], relaysFound: Option[List[Relay]], aliases: List[Alias], users: List[User])(implicit featureToggles: FeatureToggleMap, currentUser: Option[ApplicationUser])

@import helper._

@toggleRelay(relay: Relay, relayDomain: Domain) = {
	@if(relay.enabled){
		@form(action=routes.RelayController.disable(currentDatabaseConnection,relayDomain.name,relay.recipient,"domaindetails"), 'class -> "form-inline", 'role -> "form"){
			<button type"submit" title="disable" class="btn btn-xs btn-warning">d</button>
		}
	} else {
		@form(action=routes.RelayController.enable(currentDatabaseConnection,relayDomain.name,relay.recipient,"domaindetails"), 'class -> "form-inline", 'role -> "form"){
			<button type"submit" title="enable" class="btn btn-xs btn-success">e</button>
		}
	}
	@if(featureToggles.isEnabled("remove") && !relay.enabled){
		@form(action=routes.RelayController.remove(currentDatabaseConnection,relayDomain.name,relay.recipient,"domaindetails"), 'class -> "form-inline", 'role -> "form"){
			<button type="submit" title="remove" class="btn btn-xs btn-danger">x</button>
		}
	}
}

@main(Some("Domain aliases and users"), Some(currentDatabaseConnection)) {

   <h3><a href="@routes.DomainController.domain(currentDatabaseConnection)">Domain</a></h3>

   @for(domainFound <- domain){

      <table class="table">
         <tbody>
            <tr>
               <th>domain name</th>
               <td colspan="2">@domainFound.name</td>
            </tr>
            <tr>
               <th>transport</th>
               <td colspan="2">@domainFound.transport</td>
            </tr>
            <tr>
               <th>enabled</th>
               <td colspan="2">@domainFound.enabled</td>
            </tr>
         </tbody>
      </table>

		@if(featureToggles.isEnabled("toggle")){
			<section>
				@if(domainFound.enabled){
					@form(action=routes.DomainController.disable(currentDatabaseConnection,domainFound.name,"domaindetails")){
						<button type="submit" title="disable" class="btn btn-sm col-sm-2 col-xs-2 btn-warning">disable domain</button>
					}
				} else {
					@form(action=routes.DomainController.enable(currentDatabaseConnection,domainFound.name,"domaindetails")){
						<button type="submit" title="enable" class="btn btn-sm col-sm-2 col-xs-2 btn-success">enable domain</button>
					}
				}
			</section>
		}

		@if(featureToggles.isEnabled("remove")){
			<section title="Can only remove a disabled domain">
				@if(!domainFound.enabled){
					<a href="@routes.DomainController.viewRemove(currentDatabaseConnection,domainFound.name)" title="remove" class="btn btn-sm col-sm-2 col-xs-2 btn-danger">remove domain</a>
				}
			</section>
		}

   }

   @for(domainFound <- backup){
   	
		@form(action=routes.DomainController.updateBackup(currentDatabaseConnection,domainFound.name,"domaindetails")){
	      <table class="table">
	         <tbody>
	            <tr>
	               <th>domain name</th>
	               <td colspan="2">@domainFound.name</td>
	            </tr>
	            <tr>
	               <th>transport</th>
	               <td colspan="2">
					@if(featureToggles.isEnabled("edit")){
	               		<input type="text" name="transport" class="form-control" value="@domainFound.transport" placeholder=":[smtp.example.net]"/>
	               	} else {
	               		@domainFound.transport
	               	}
	               </td>
	            </tr>
	            <tr>
	               <th>enabled</th>
	               <td colspan="2">@domainFound.enabled</td>
	            </tr>
	         </tbody>
	      </table>

	 		@if(featureToggles.isEnabled("edit")){
				<section>
					<button type="submit" title="update" class="btn btn-sm col-sm-2 col-xs-2 btn-success">update transport</button>
				</section>
			}
 		}

		@if(featureToggles.isEnabled("toggle")){
			<section>
				@if(domainFound.enabled){
					@form(action=routes.DomainController.disableBackup(currentDatabaseConnection,domainFound.name,"domaindetails")){
						<button type="submit" title="disable" class="btn btn-sm col-sm-2 col-xs-2 btn-warning">disable backup</button>
					}
				} else {
					@form(action=routes.DomainController.enableBackup(currentDatabaseConnection,domainFound.name,"domaindetails")){
						<button type="submit" title="enable" class="btn btn-sm col-sm-2 col-xs-2 btn-success">enable backup</button>
					}
				}
			</section>
		}


		@if(featureToggles.isEnabled("remove")){
			<section title="Can only remove a disabled domain">
				@if(!domainFound.enabled){
					<a href="@routes.DomainController.viewRemove(currentDatabaseConnection,domainFound.name)" title="remove" class="btn btn-sm col-sm-2 col-xs-2 btn-danger">remove domain</a>
				}
			</section>
		}

	}


	@for(domainFound <- domain){

   	<section>

			<h4><a href="@routes.AliasController.alias(currentDatabaseConnection)">Aliases</a></h4>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>mail</th>
						<th>destination</th>
						<th>enabled</th>
						<th colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					@for(alias <- aliases){
					<tr>
						<td @if(!alias.enabled){ class="disabled" }>
							<a href="@routes.AliasController.viewAlias(currentDatabaseConnection,domainFound.name,alias.mail)">@alias.mail</a>
						</td>
						<td @if(!alias.enabled){ class="disabled" }>
							@alias.destination
						</td>
						<td>@alias.enabled</td>
						<td class="actions">
							@if(featureToggles.isEnabled("toggle")){
								@if(alias.enabled){
									@form(action=routes.AliasController.disable(currentDatabaseConnection,domainFound.name,alias.mail, "domaindetails"), 'class -> "form-inline", 'role -> "form"){
										<button type"submit" title="disable" class="btn btn-xs btn-warning">d</button>
									}
								} else {
									@form(action=routes.AliasController.enable(currentDatabaseConnection,domainFound.name,alias.mail,"domaindetails"), 'class -> "form-inline", 'role -> "form"){
									<button type"submit" title="enable" class="btn btn-xs btn-success">e</button>
									}
								}
							}
						</td>
					</tr>
					}
				</tbody>
			</table>

			@if(featureToggles.isEnabled("add")){
				<a href="@routes.AliasController.viewAdd(currentDatabaseConnection,domainFound.name)" class="btn btn-sm col-sm-2 col-xs-2 btn-info">add alias</a>
			}

		</section>

	}


	@for(relays <- relaysFound){

		 <section>

			<h4>Relay maps</h4>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>recipient</th>
						<th>enabled</th>
						<th>status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@for(relay <- relays){
					<tr>
						<td>@if(!relay.enabled){ <s> } @relay.recipient @if(!relay.enabled){ </s> }</td>
						<td>@relay.enabled</td>
						<td>@relay.status</td>
						<td class="actions">
							@if(featureToggles.isEnabled("toggle")){
								@for(relayDomain <- domain){
									@toggleRelay(relay,relayDomain)
								}
								@for(relayDomain <- backup){
									@toggleRelay(relay,relayDomain)
								}
							}
						</td>
					</tr>
					}
				</tbody>
			</table>

			@for(domainFound <- domain){
				@if(featureToggles.isEnabled("add")){
					<a href="@routes.RelayController.viewAdd(currentDatabaseConnection,domainFound.name)" class="btn btn-sm col-sm-2 col-xs-2 btn-info">add relay</a>
				}
			}
			@for(domainFound <- backup){
				@if(featureToggles.isEnabled("add")){
					<a href="@routes.RelayController.viewAdd(currentDatabaseConnection,domainFound.name)" class="btn btn-sm col-sm-2 col-xs-2 btn-info">add relay</a>
				}
			}

		</section>
	}


	@for(domainFound <- domain){

	   <section>

			<h4><a href="@routes.UserController.user(currentDatabaseConnection)">Users</a></h4>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>mail</th>
						<th>maildir</th>
						<th>reset password</th>
						<th>enabled</th>
						<th colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					@for( user <- users){
					<tr>
						<td>
							@if(!user.enabled){ <s> }
							<a href="@routes.UserController.viewUser(currentDatabaseConnection,user.email)">@user.email</a>
							@if(!user.enabled){ </s> }
						</td>
						<td>
							@if(!user.enabled){ <s> }
							@user.maildir
							@if(!user.enabled){ </s> }
						</td>
						<td>@user.passwordReset</td>
						<td>@user.enabled</td>
						<td class="actions">
							@if(featureToggles.isEnabled("toggle")){
								@if(user.enabled){
									@form(action=routes.UserController.disable(currentDatabaseConnection, domainFound.name, user.email, "domaindetails")){
										<button type="submit" title="disable" class="btn btn-xs btn-warning">d</button>
									}
								} else {
									@form(action=routes.UserController.enable(currentDatabaseConnection, domainFound.name, user.email, "domaindetails")){
										<button type="submit" title="enable" class="btn btn-xs btn-success">e</button>
									}
								}
							}
						</td>
					</tr>
					}
				</tbody>
			</table>

			@if(featureToggles.isEnabled("add")){
				<a href="@routes.UserController.viewAddWithDomain(currentDatabaseConnection,domainFound.name)" class="btn btn-sm col-sm-2 col-xs-2 btn-info">add user</a>
			}

		</section>

	}

}
