@(currentDatabaseConnection: Environment.ConnectionName, domain: Domain, aliases: List[Alias], relays: List[Relay], users: List[User])(implicit errorMessages: List[ErrorMessage] = List.empty, featureToggles: FeatureToggleMap, currentUser: Option[ApplicationUser])

@import models._
@import helper._

@main(Some("Domain remove"), Some(currentDatabaseConnection)) {

	<h3>Remove <a href="@routes.DomainController.domain(currentDatabaseConnection)">domain</a></h3>

	<h5>Domain: <a href="@routes.DomainController.viewDomain(currentDatabaseConnection,domain.name)">@domain.name</a></h3>

    <section>
		
		@if(!featureToggles.isEnabled("remove") ){	

			<h4>Can not remove data</h4>

		} else {

			@if(aliases.isEmpty && relays.isEmpty && users.isEmpty){	

				<div class="alert alert-warning">
			    	<h4>
						Confirm removing domain @domain.name
					</h4>	
				</div>

				@form(action=routes.DomainController.remove(currentDatabaseConnection,domain.name), 'class -> "form-horizontal", 'role -> ""){

					<button type="submit" class="btn btn-sm col-sm-3 col-xs-3 btn-danger btn-left">Remove domain</a>
				
				}

			} else {


				<div class="alert alert-warning">
					<h4>
						Remove all users and aliases before removing domain
					</h4>
				</div>

				@if(!aliases.isEmpty){

					<h4><a href="@routes.AliasController.alias(currentDatabaseConnection)">Aliases</a></h4>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>mail</th>
								<th>destination</th>
								<th>enabled</th>
								<th colspan="1"></th>
							</tr>
						</thead>
						<tbody>
							@for(alias <- aliases){
								<tr>
									<td @if(!alias.enabled){ class="disabled" }>
										<a href="@routes.AliasController.viewAlias(currentDatabaseConnection,domain.name,alias.mail)">@alias.mail</a>
									</td>
									<td @if(!alias.enabled){ class="disabled" }>
										@alias.destination
									</td>
									<td>@alias.enabled</td>
									<td class="actions">
										@if(featureToggles.isEnabled("toggle")){
											@if(alias.enabled){
												@form(action=routes.AliasController.disable(currentDatabaseConnection,domain.name,alias.mail, "removedomain"), 'class -> "form-inline", 'role -> "form"){
													<button type"submit" title="disable" class="btn btn-xs btn-warning">d</button>
												}
											} else {									
									         	@form(action=routes.AliasController.remove(currentDatabaseConnection,domain.name,alias.mail,"removedomain"), 'class -> "form-inline", 'role -> "form"){
									            	<button type="submit" title="remove" class="btn btn-xs btn-danger">x</button>
									         	}
											}
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
				
				}
				
				@if(!relays.isEmpty){

					<h4>Relays</h4>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>recipient</th>
								<th>status</th>
								<th>enabled</th>
								<th colspan="1"></th>
							</tr>
						</thead>
						<tbody>
							@for(relay <- relays){
								<tr>
									<td @if(!relay.enabled){ class="disabled" }>
										@relay.recipient
									</td>
									<td @if(!relay.enabled){ class="disabled" }>
										@relay.status
									</td>
									<td>@relay.enabled</td>
									<td class="actions">
										@if(featureToggles.isEnabled("toggle")){
											@if(relay.enabled){
												@form(action=routes.RelayController.disable(currentDatabaseConnection,domain.name,relay.recipient, "removedomain"), 'class -> "form-inline", 'role -> "form"){
													<button type"submit" title="disable" class="btn btn-xs btn-warning">d</button>
												}
											} else {									
									         	@form(action=routes.RelayController.remove(currentDatabaseConnection,domain.name,relay.recipient,"removedomain"), 'class -> "form-inline", 'role -> "form"){
									            	<button type="submit" title="remove" class="btn btn-xs btn-danger">x</button>
									         	}
											}
										}
									</td>
								</tr>
							}
						</tbody>
					</table>

				}

				@if(!users.isEmpty){


					<h4>Users</h4>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>email</th>
								<th>name</th>
								<th>maildir</th>
								<th>enabled</th>
								<th colspan="1"></th>
							</tr>
						</thead>
						<tbody>
							@for(user <- users){
								<tr>
									<td @if(!user.enabled){ class="disabled" }>
										@user.email
									</td>
									<td @if(!user.enabled){ class="disabled" }>
										@user.name
									</td>
									<td @if(!user.enabled){ class="disabled" }>
										@user.maildir
									</td>
									<td>@user.enabled</td>
									<td class="actions">
										@if(featureToggles.isEnabled("toggle")){
											@if(user.enabled){
												@form(action=routes.UserController.disable(currentDatabaseConnection,domain.name,user.email, "removedomain"), 'class -> "form-inline", 'role -> "form"){
													<button type"submit" title="disable" class="btn btn-xs btn-warning">d</button>
												}
											} else {									
									         	@form(action=routes.UserController.removeDomainUser(currentDatabaseConnection,domain.name,user.email), 'class -> "form-inline", 'role -> "form"){
									            	<button type="submit" title="remove" class="btn btn-xs btn-danger">x</button>
									         	}
											}
										}
									</td>
								</tr>
							}
						</tbody>
					</table>

				}

			}

		}

	</section>

}
