# Schema
 
# --- !Ups


alter table backups modify enabled tinyint(1) default 1 not null;

alter table users modify enabled tinyint(1) default 1 not null;
alter table users modify change_password tinyint(1) default 1 not null;



# --- !Downs


