@(databaseConnections: List[(Environment.ConnectionName,String)])(implicit errorMessages: List[ErrorMessage] = List.empty, currentUser: Option[ApplicationUser])

@main(Some("Choose database connection"),None) {

   <h3>Mail server data management tool</h3>
   
   <h4>Choose database connection</h4>

   @if( databaseConnections.isEmpty ){

	   	<div class="alert alert-warning">
	   		<h4>No connections configured</h4>
	   	</div>

	} else {	

		<ul>
			@for((name,description) <- databaseConnections){
				<li>
					<h4>
						<a href="@routes.Application.connectionIndex(name)">@name</a>
					</h4>
					<p>
						@description
					</p>
				</li>
			}

		</ul>

	}


}
