@(currentDatabaseConnection: Environment.ConnectionName)(implicit currentUser: Option[ApplicationUser] )

@main(None, Some(currentDatabaseConnection)) {

   <h3>Mail server data management tool</h3>

	<ul>

		<li>
			<h4><a href="@routes.DomainController.domain(currentDatabaseConnection)">Domains</a></h4>
			<p>
				Domains relayed and backed up
			</p>
		</li>

		<li>
			<h4><a href="@routes.AliasController.alias(currentDatabaseConnection)">Aliases</a></h4>
			<p>
				Aliases forwarded and relayed
			</p>
		</li>

		<li>
			<h4><a href="@routes.UserController.user(currentDatabaseConnection)">Users</a></h4>
			<p>
				Users with mail stored
			</p>
		</li>

	</ul>



}
