@(title: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Sorting Office | @title</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    </head>
    <body>
      <navigation>
        <ul>
          <li><a href="@routes.Application.index">home</a></li>
          <li><a href="http://github.com/flurdy/sortingoffice">about</a></li>
          <li><a href="http://github.com/flurdy/sortingoffice">contact</a></li>
        </ul>
      </navigation>
      <header>
         <h1>Sorting Office</h1>
         <h3>Mail server data managment tool</h3>
      </header>

        @content

      <footer></footer>
    </body>
</html>
